Source: sist-ui
Section: unknown
Priority: optional
Maintainer: Your Name <your.email@example.com>
Build-Depends: debhelper-compat (= 13), qt6-base-dev, qt6-declarative-dev, qt6-graphicaleffects-dev, qt6-multimedia-dev
Standards-Version: 4.6.0
Homepage: https://github.com/yourusername/sist_ui

Package: sist-ui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A custom desktop environment inspired by Blue Archive.
 A desktop shell built with Qt/QML and Flutter, offering a unique and intuitive user experience with game-like visuals and dynamic application launching.