#!/usr/bin/make -f

export DEB_BUILD_PROFILES := nodoc

%:
	dh $@

override_dh_auto_configure:
	cd flutter_app && flutter build linux
	mkdir -p shell/build
	cd shell/build && qmake6 ../shell.pro

override_dh_auto_build:
	$(MAKE) -C shell/build

override_dh_dwz:

override_dh_strip:
	dh_strip --exclude=usr/share/sist-ui/flutter_app/bundle/flutter_assets

override_dh_shlibdeps:
	dh_shlibdeps --exclude=usr/share/sist-ui/flutter_app/bundle/libflutter_linux_gtk.so

override_dh_clean:
	dh_clean
	rm -rf shell/build
